body{
    background: #efefef;
}
.main{
    margin: 30px 50px 30px 50px;
    background: white;
    border-radius: 10px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.img-thumbnail{
    width: 45px;
    height: 45px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.label-info {
    margin-right: 5px;
}
.question-tag{
    margin-right: 3px;;
}
.question-related{
    line-height: 20px;
    font-size: 12px;
    margin-left: 5px;
    list-style: none;
    padding-left: 0;
}
.rightText{
    line-height: 43px;
}
.weChat{
    height: 155px;
    width: 155px;
}
.publish-tag-tab{
    display: none;
    margin-top: 10px;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color: #999;
    font-size: 13px;
}
.community-tag:hover {
    background-color: #339dff;
    color: #fff !important;
    text-decoration-line: none;
}

.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}
.media-body{
    padding-bottom:10px;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.comments{
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.sub_comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
}
.sub_comments .btn{
   margin: 10px 0;
}
.menu{
    color:#999;
    margin-top: 5px;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .comment-icon{
    font-size: 15px;
    cursor: pointer;
}
.menu .comment-icon:hover{
    color: #499ef3;
}
.menu .active{
    color: #499ef3;
}
.menu .icon:hover{
    color: #499ef3;
}

