body{
    background: #efefef;
}
.main{
    margin: 30px 50px 30px 50px;
    background: white;
    border-radius: 10px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.img-thumbnail{
    width: 45px;
    height: 45px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color: #999;
    font-size: 13px;
}
.media-body{
    padding-top:10px;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.comments{
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.menu{
    color:#999;
    margin-top: 5px;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .icon:hover{
    color: #499ef3;
}

