<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - hello！社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation.html :: nav}"></div>
<hr>
<div class="container-fluid main">
    <div class="row">
        <div class="col-md-9">
            <h2><span class="glyphicon glyphicon-plus">发起</span></h2>
            <hr>

            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题（简单摘要）：</label>
                    <input type="text" class="form-control" id="title"  th:value="${title}" name="title" placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="title">问题补充（必填，请参考右侧提示）：</label>
                    <textarea name="description" id="description" th:text="${description}" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="title">添加标签</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="输入标签，以逗号隔开">
                </div>
                <div class="alert alert-danger" th:if="${error!= null}" th:text="${error}"></div>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>

        </div>
        <div class="col-md-3">
            <h3>问题发起指南</h3>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字<br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开不超过10个字
        </div>
    </div>
</div>
</body>
</html>